* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.shorten{
    background-image: url('../images/stacked-waves-haikei.svg');
    background-position: center;
    background-size:cover ;
}
#boost-your-links {
    background-image: url('../images/bg-boost-desktop.svg');
    background-position: center;
    background-size:cover ;
    height: 180px;
}
#icons li:hover img {
    filter: drop-shadow(0px 0px 5px #2dd4bf);
}