* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.shorten{
    background-image: url('../images/stacked-waves-haikei.svg');
    background-position: center;
    background-size:cover ;
}